<html>
<head>
  <title>Efficiency List</title>
</head>
<body>

  <h1>EnergyStar Certified Residential Dishwashers</h1>

  <div>
  	<% for(var i=0; i<list.length; i++) {%>
  		<li><%= list[i].brand_name %></li>
  	<% } %>
  </div>

</body>
</html>
