<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
	<script 								src="/javascripts/application.js"></script>
  	<title>Efficiency List</title>
</head>
<body>
	<div class="header-title">
  		<h1>Efficiency List</h1>
  	</div>

  	<div class="header_subtitle">
  		<h3>Easily find the most efficient EnergyStar certified  appliances</h3>
  	</div>

  	<div class="container">
  		<h3>browse appliances</h3>
		<ul class="dropdown-menu">
    		<li><a href="/dishwashers">dishwashers</a></li>
    		<li><a href="/washing_machines">washing machines</a></li>
    		<li><a href="/displays">displays</a></li>
    		<li><a href="/audio_video">audio video equipment</a></li>
    		<li><a href="/water_heaters">water heaters</a></li>
    		<li><a href="/refrigerators">refrigerators</a></li>
    		<li><a href="/freezers">freezers</a></li>
		</ul>
  	</div>
</body>
</html>
