<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
  <script src="../public/javascripts/application.js"></script>
  	<title>Efficiency List</title>
</head>
<body>

  <h1>EnergyStar Certified Residential Washing Machines</h1>

  <div>
  	<ul> <% for (var i = 0; i < list.length; i++) { %>
  		<li> <%= list[i].brand_name %> </li>
  		<p> <%= list[i].model_number %> </p>
  		<% } %>
  	</ul>
  </div>

</body>
</html>
