<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar_title" href="#"> <!-- <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span> --> Efficiency List</a> 
		</div>

		<ul class="nav navbar-nav">
			<li id="navbar-home"><a href="/">home</a></li>
			<li id="navbar-home"><a href="/social">social</a></li>
			<li id="navbar-about"><a href="/about">about</a></li>
		</ul>
	</div>
</nav>
